# Server Configuration
PORT=PORT

# MongoDB Configuration
MONGO_URI=mongodb_URI

# Session Configuration
SESSION_SECRET=SESSION_SECRET

# JWT Configuration
JWT_SECRET=JWT_SECRET

# Google OAuth Configuration
GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=GOOGLE_CLIENT_SECRET

OPENAI_API_KEY=OPENAI_API_KEY

FLASK_SERVER_URL=FLASK_SERVER_URL
OPENWEATHER_API_KEY=OPENWEATHER_API_KEY